*{
    background-color: black;
}
.game{
    width: 400px;
    font-family: monospace;
    text-align: center;
    color: white;
    margin: auto;
    font-weight: 500;

}
.title{
    background-color: blueviolet;
    padding: 32px 0px;
    margin: 28px 3px;
    font-size: 40px;
}


span{
    color: rgb(13, 13, 146);
    background-color: blueviolet;
}
.square{
    background-color: blueviolet;
    width: 123px;
    height: 123px;
    float: left;
    margin: 5px;
    color: white;
    font-size: 90px;
    
}
.square:hover{
    background-color: rgb(32, 32, 31);
}